<!DOCTYPE html>
{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Passsword{% endblock %}

{% block content %}
    <form method="POST">
        <p>Please specify your email address to receive instructions for resetting it.</p>

        {% csrf_token %}

        {{ form.email.errors }}

        <p>
            <label for="id_email">Email Address:</label>
            {{ form.email }}
            <button>Reset Password</button>
        </p>
    </form>
{% endblock %}