<!DOCTYPE html>
{% extends 'base.html' %}

{% block page_title %}Password Reset Confirmation Page{% endblock %}

{% block page_heading %}Enter New Password{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="POST">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            {% csrf_token %}

            {{ form.new_password1.errors }}
            <p>
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </p>

            {{ form.new_password2.errors }}
            <p>
                <label for="id_new_password2">New password:</label>
                {{ form.new_password2 }}
            </p>               
                
            <p>
                <button>Change Password</button>
            </p>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>

        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}