body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

/* Navbar */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}


.row.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* product card */
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

figure p {
    word-wrap: break-word;
}

.card {
    border-color: transparent;
    padding: 0 15px;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.card-text {
    min-height: 40px;
}